# Server
PORT=5001
NODE_ENV=development

#Database
# DATABASE_URL="postgresql://neondb_owner:npg_l0iFRSL9TWco@ep-morning-night-a191e2sf-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
DATABASE_URL=postgresql://postgres:12345@localhost:5434/events_and_activities_db?schema=public

# Cloudinary API
CLOUDINARY_URL=cloudinary://627373185588158:s0HJDs5kyaFxPSIl_aL-_LKCgC4@dsieyc8m2
CLOUDINARY_API_SECRET = s0HJDs5kyaFxPSIl_aL-_LKCgC4
CLOUDINARY_CLOUD_NAME = dsieyc8m2
CLOUDINARY_API_KEY = 627373185588158



